body{
    background-image: url(images/bg1.jpg);
    background-repeat: no-repeat;
}

.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
}

#logo{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 620%;
    text-align: center;
}
#searchbox{
    background-color: white;
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
    border-radius: 30px;
    margin-top:15px;
    padding: 3px;
}

#searchhere {
    border: none;
    width: 80%;
    margin-right: 5px;
    margin-left: 5px;
}

.recent {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1rem;
    padding-left: 50px;
}

.tabs{
    background-color: white; 
    padding: 5px;
    width:40%;
    border-radius: 50px;
}

:hover #btn{
    cursor: pointer;
}