body{
    background-image: url(images/bg1.jpg);
    background-repeat: no-repeat;
}

.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
}

#logo{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 620%;
    text-align: center;
}
#searchbox{
    background-color: white;
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
    border-radius: 30px;
    margin-top:15px;
    padding: 3px;
}
input{
    border: none;
    width: 90%;
}

footer{
    position: absolute;
    top: 50%;
    left: 50%;
}